@{
    ViewData["Title"] = "Contact";
}
<div class="jumbotron">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <address>
        @ViewData["Address"]<br />
        <abbr title="Phone">P:</abbr>
        @ViewData["Telephone"]
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">@ViewData["Email"]</a><br />
    </address>
</div>
